<!DOCTYPE html>
<html>
<head>
    <title>Take me anywhere... ( in April 2018 :-) )</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<table>
    <tr>
        <td>
            <h1 id="message">Take me anywhere... Prices within £20</h1>
            <h4><a class="btn" href="{{ url_for('price_by_distance') }}">Filter price/distance globally</a></h4>
              {% for flight in flights %}
                <p class="description"></p><b><span class="blue">{{ flight.destination }}, {{ flight.country }}</span></b>
                <br>Origin Airport: {{ flight.origin_airport }}
                <br>Outbound Date: {{ flight.outbound_date }}
                <br>Price: £{{ flight.price }}
                <br><a href={{flight.booking_url}} target="_blank">Go!</a>

            {% endfor %}
        </td>

    </tr>

</table>
</body>
</html>
