<!DOCTYPE html>
<html>
<head>
    <title>Take me anywhere...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<table>
    <tr>
        <td>
            <h1 id="message">Take me anywhere...  ( within a month :-) ) All flights ranked by price per 100 km</h1>
            <h3>Filtered at < £2.5 per 100 km</h3>
            <h4><a class="btn" href="{{ url_for('index') }}">Filter by price only</a></h4>
              {% for flight in flights %}
                <p class="description"></p><b><span class="blue">{{ flight.destination }}, {{ flight.country }}</span></b>
                <br>Origin Airport: {{ flight.origin_airport }}
                <br>Outbound Date: {{ flight.outbound_date }}
                <br>Price: £{{ flight.price }}
                  <br> Price per 100 km: £{{ flight.price_per_km }}
                <br><a href={{flight.booking_url}} target="_blank">Go!</a>

            {% endfor %}
        </td>

    </tr>

</table>
</body>
</html>
